<mat-dialog-content>
  <form #form>
    <mat-form-field [floatLabel]="'auto'">
      <mat-select placeholder="Category" [required]="true" [(value)]="transaction.category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field [floatLabel]="'auto'">
      <input matInput required type="text" name="purpose" placeholder="Description" [(ngModel)]="transaction.description"/>
    </mat-form-field>
    <mat-form-field [floatLabel]="'auto'">
      <input matInput required type="number" step="0.01" name="amount" placeholder="Amount" [(ngModel)]="transaction.amount" />
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="!form.checkValidity()" mat-raised-button (click)="dialog.openDialogs[0].close(transaction)">Add</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>

