.account {
  margin: 20px;
}
.credit, .debit {
  margin-left: 10px;
}
.credit {
  color: #00dd00;
}
.debit {
  color: #dd0000;
}
.add-buton {
  position: fixed;
  //bottom: 5px;
  //right: 5px;
  z-index: 1;
  bottom: 1rem;
  right: 1rem;
  background-color: #00dd00;
}
